<form class="row g-3 needs-validation" method="POST" action="/adduser" novalidate>

  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.funeral_plan}}" placeholder="funeral_plan" name="funeral_plan">
      <label for="floatingInput">Funeral Plan</label>
    </div>
  </div>
<h1>Beneficiary 1</h1>
<br>
<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben1name}}" placeholder="ben1name" name="ben1name">
      <label for="floatingInput">Name</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben1name}}" placeholder="ben1surname" name="ben1surname">
      <label for="floatingInput">Surname</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben1_idno}}" placeholder="ben1_idno" name="ben1_idno">
      <label for="floatingInput">ID Number</label>
    </div>
  </div>

<br>
<h1>Beneficiary 2</h1>
<br>
<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben2name}}" placeholder="ben2name" name="ben2name">
      <label for="floatingInput">Name</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben2name}}" placeholder="ben2surname" name="ben2surname">
      <label for="floatingInput">Surname</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben2_idno}}" placeholder="ben2_idno" name="ben1_idno">
      <label for="floatingInput">ID Number</label>
    </div>
  </div>

<br>
<h1>Beneficiary 3</h1>
<br>
<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben2name}}" placeholder="ben2name" name="ben2name">
      <label for="floatingInput">Name</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben2name}}" placeholder="ben2surname" name="ben2surname">
      <label for="floatingInput">Surname</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben2_idno}}" placeholder="ben2_idno" name="ben1_idno">
      <label for="floatingInput">ID Number</label>
    </div>
  </div>

<br>
<h1>Beneficiary 4</h1>
<br>
<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben2name}}" placeholder="ben2name" name="ben2name">
      <label for="floatingInput">Name</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben2name}}" placeholder="ben2surname" name="ben2surname">
      <label for="floatingInput">Surname</label>
    </div>
  </div>

  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.ben2_idno}}" placeholder="ben2_idno" name="ben1_idno">
      <label for="floatingInput">ID Number</label>
    </div>
  </div>




  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit" >Submit</button>
  </div>
  </form>